{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!
{% endblock %}
{% block header %}
	{{ include('partials/header.html.twig') }}
{% endblock %}
{% block body %}

	<div class="flex-shrink-0">
		<div class="container">
        <div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<div id="exemple">
			hi to you<div>
				This friendly message is coming from:
				<ul>
					<li>Your controller at
						<code>
							<a href="{{ 'D:/STUDI/Projet Interspec Symfony/mercadona/src/Controller/CatalogueController.php'|file_link(0) }}">src/Controller/CatalogueController.php</a>
						</code>
					</li>
					<li>Your template at
						<code>
							<a href="{{ 'D:/STUDI/Projet Interspec Symfony/mercadona/templates/catalogue/index.html.twig'|file_link(0) }}">templates/catalogue/index.html.twig</a>
						</code>
					</li>
				</ul>
			</div>
        </div>
	</main>

{% endblock %}
{% block footer %}
	{{ include('partials/footer.html.twig') }}
{% endblock %}
