{% extends 'base.html.twig' %}

{% block title %}
	Liste des produits
{% endblock %}
{% block header %}
	{{ include('partials/header.html.twig') }}
{% endblock %}

{% block body %}
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media(min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}

		.b-example-divider {
			height: 3rem;
			background-color: rgba(0, 0, 0, 0.1);
			border: solid rgba(0, 0, 0, 0.15);
			border-width: 1px 0;
			box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
		}

		.b-example-vr {
			flex-shrink: 0;
			width: 1.5rem;
			height: 100vh;
		}

		.bi {
			vertical-align: -0.125em;
			fill: currentColor;
		}

		.nav-scroller {
			position: relative;
			z-index: 2;
			height: 2.75rem;
			overflow-y: hidden;
		}

		.nav-scroller .nav {
			display: flex;
			flex-wrap: nowrap;
			padding-bottom: 1rem;
			margin-top: -1px;
			overflow-x: auto;
			text-align: center;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
		}
	</style>
	<div class="flex-shrink-0 ">
		<div class="container">
			<div class="example-wrapper">
				<h1 class="display-4">Liste des produits</h1>
                {% if products %}
                    {# product card #}
                    {% for product in products %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        {% if product.imageName %}
        <div class="col-md-4">
            <img src="{{ product.getImageName }}" class="img-fluid rounded-start" alt="...">
        </div>
        {% endif %}
        <div class="col-md-8">
            <div class="card-body">
                {{ product.wording }}
                <p class="card-text">{{product.getProductDescription }}</p>
                <p class="card-text"><small class="text-muted">{{ product.getProductPrice}} €</small></p>
            </div>
        </div>
    </div>
    </div>
                    {% endfor %}
                {% endif %}
			</div>
		</div>
	</div>
</main>{% endblock %}{% block footer %}
{{ include('partials/footer.html.twig') }}{% endblock %}
