{% extends 'base.html.twig' %}

	{% block title %}
		Liste des produits
	{% endblock %}
	
	{% block stylesheets %}
		{{ parent() }}
	{% endblock %}
	
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
	
	{% block header %}
		{{ include('partials/header.html.twig') }}
	{% endblock %}
	
	{% block body %}
		<div class="d-flex ">
			<div class="">
				{{ include('partials/filter.html.twig',  form) }}
			</div>
			<div class="col-8">
				<div class="album py-2">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						{% if products %}
							{% for product in products %}
								<div class="col">
									{{ include('catalogue/card.html.twig', {product: product}) }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	
	{% block footer %}
		{{ include('partials/footer.html.twig') }}
	{% endblock %}
	