<div class="container mt-3">
    <div class="product-card shadow-sm bg-white .bg-gradient">
        
        {% if product.getImageName %}
            {# get the image from build/images/products  using vich#}
            <img src="{{vich_uploader_asset(product, 'imageFile')|imagine_filter('card') }}" class="card-img-top" alt="{{ product.getWording }}">
           
            
            {# <img src="{{asset('/images/products/' ~ product.getImageName)|imagine_filter('card') }}" alt="Mon image"> #}
        {% endif %}
        <h5 class="card-title p-1">{{ product.getWording }}</h5>
        <div class="card-body">
            <p class="text-sm-start text" >{{ product.getProductDescription|striptags|raw|nl2br }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">{{ product.category }}</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                </div>
                <p class="card-text">
                    Prix:
                    {% if product.promotions|length > 0 %}
                        <small class="font-weight-bold text-danger">{{ product.getCalculatePrice }} €</small>
                    {% else %}
                        <small class="text-muted">{{ product.getProductPrice }} €</small>
                       
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div id="productModal" class="productModal"></div>
</div>

<script>
    $(document).ready(function(){
        $('.product-card').hover(function(){
            $(this).addClass('shadow-lg').css('cursor', 'pointer');
        }, function(){
            $(this).removeClass('shadow-lg');
        });
    });

    //recuperation automatique de l'image du apres le rechadgement de la page  une requete ajax


    //accrocher  l'mage recupere dans  sur la card du produit






</script>
